@use "sass:color";

// Base colors
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$base-color: #{"@theme_base_color"};
$text-color: #{"@theme_text_color"};

// Selected/accent colors
$selected-bg-color: #{"@theme_selected_bg_color"};
$selected-fg-color: #{"@theme_selected_fg_color"};

// Borders
$borders-color: #{"@borders"};
$unfocused-borders-color: #{"@unfocused_borders"};

// Insensitive/disabled state
$insensitive-fg-color: #{"@insensitive_fg_color"};
$insensitive-bg-color: #{"@insensitive_bg_color"};

// Semantic colors
$warning-color: #{"@warning_color"};
$error-color: #{"@error_color"};
$success-color: #{"@success_color"};
$destructive-color: #{"@destructive_color"};

// Unfocused state colors
$unfocused-fg-color: #{"@theme_unfocused_fg_color"};
$unfocused-bg-color: #{"@theme_unfocused_bg_color"};
$unfocused-base-color: #{"@theme_unfocused_base_color"};
$unfocused-text-color: #{"@theme_unfocused_text_color"};
$unfocused-selected-bg-color: #{"@theme_unfocused_selected_bg_color"};
$unfocused-selected-fg-color: #{"@theme_unfocused_selected_fg_color"};

// Base 16 Gruvbox
$base00: #fbf1c7;
$base01: #ebdbb2;
$base02: #d5c4a1;
$base03: #bdae93;
$base04: #7c6f64;
$base05: #3c3836;
$base06: #282828;
$base07: #1d2021;
$base08: #cc241d;
$base09: #d65d0e;
$base0A: #d79921;
$base0B: #98971a;
$base0C: #689d6a;
$base0D: #458588;
$base0E: #b16286;
$base0F: #9d0006;

label {
  font-size: 12px;
  color: $bg-color;
}

.text-icon {
  font-size: 24px;
}

.barRoot {
  margin: 16px;
  padding: 8px;
  border-radius: 999px;
  background-color: color.scale($base00, $alpha: -20%);
}

.container {
  background-color: transparent;
  border-radius: 999px;

  .left {
    background-color: $base05;
    padding: 0px 8px;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }

  .right {
    background-color: $base06;
    padding: 0px 12px;
    border-radius: 999px;
  }

  .right.withLeft {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.tray-widget {}

.active-window-widget {
  image {
    filter: grayscale(100%);
  }
}

.date-widget {
  .dot {
    border-radius: 999px;
    background-color: $base00;
  }

  .text-icon {
    padding-left: 4px;
  }


}
